.ourservices {
   
    padding-top: 5rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0 8px 12px rgba(0, 0, 128, 1);
    margin-bottom: 6rem;

    animation: ServicesAppear;
    animation-timeline: view();
    animation-range: entry 0% cover 100vh;

}

@keyframes ServicesAppear {

    from {

        opacity: 0;
        transform: translateY(100px);

    }

    to {

        opacity: 1;
        transform: translate(0);
    }

}

@media (max-width: 382px) {

    .ourservices {

        padding-top: 3rem;
        font-size: 2.5rem;

    }

}


@media (min-width: 1700px) {

    .ourservices {

        padding-top: 4rem;
        font-size: 7rem;

    }

}

.con5 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 85%;
    height: 220vh;
    place-items: center;
    margin: auto;
    row-gap: 2.5rem;
    column-gap: 0.8rem;
    margin-bottom: 10rem;

}

.image3 {

    width: 100%;
    height: 100%;

    background-image: url(Images/Car\ Fix\ 11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0.8rem;

    animation: Image35Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.text3 {

    color: #F5F5F5;
    text-align: center;
    width: 70%;
    font-family: "Sansation", sans-serif;
    font-weight: 800;
    font-size: min(1.15rem, 2vw);
    line-height: 1.35;
    border: 1px solid #C0C0C0;
    border-radius: 2rem;
    box-shadow: 0 0 25px rgba(255,255,255,0.5), 0 0 20px rgba(192,192,192,0.5) inset;    
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(10, 20, 45, 0.9);

    animation: Text35Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.text4 {

    color: #F5F5F5;
    text-align: center;
    width: 70%;
    font-family: "Sansation", sans-serif;
    font-weight: 800;
    font-size: min(1.15rem, 2vw);
    line-height: 1.35;
    border: 1px solid #C0C0C0;
    border-radius: 2rem;
    box-shadow: 0 0 25px rgba(255,255,255,0.5), 0 0 20px rgba(192,192,192,0.5) inset;    
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(10, 20, 45, 0.9);

    animation: Text46Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.image4 {

    width: 100%;
    height: 100%;

    background-image: url(Images/Car\ Fix\ 33.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0.8rem;

    animation: Image46Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.image5 {

    width: 100%;
    height: 100%;

    background-image: url(Images/Car\ Fix\ 22.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0.8rem;

    animation: Image35Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.text5 {

    color: #F5F5F5;
    text-align: center;
    width: 70%;
    font-family: "Sansation", sans-serif;
    font-weight: 800;
    font-size: min(1.15rem, 2vw);
    line-height: 1.35;
    border: 1px solid #C0C0C0;
    border-radius: 2rem;
    box-shadow: 0 0 25px rgba(255,255,255,0.5), 0 0 20px rgba(192,192,192,0.5) inset;    
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(10, 20, 45, 0.9);

    animation: Text35Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.text6 {

    color: #F5F5F5;
    text-align: center;
    width: 70%;
    font-family: "Sansation", sans-serif;
    font-weight: 800;
    font-size: min(1.15rem, 2vw);
    line-height: 1.35;
    border: 1px solid #C0C0C0;
    border-radius: 2rem;
    box-shadow: 0 0 25px rgba(255,255,255,0.5), 0 0 20px rgba(192,192,192,0.5) inset;    
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(10, 20, 45, 0.9);

    animation: Text46Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

.image6 {

    width: 100%;
    height: 100%;

    background-image: url(Images/Car\ 22.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0.8rem;

    animation: Image46Move both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;

}

@keyframes Image35Move {

    from {

        opacity: 0;
        transform: translateX(-100px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}

@keyframes Text35Move {

    from {

        opacity: 0;
        transform: translateX(100px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}

@keyframes Image46Move {

    from {

        opacity: 0;
        transform: translateX(100px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}

@keyframes Text46Move {

    from {

        opacity: 0;
        transform: translateX(-100px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}

@media (max-width: 1000px) {

    .text3 {

        font-size: min(1rem, 2vw);
        width: 85%;

    }

   .text4 {

        font-size: min(1rem, 2vw);
        width: 85%;

    }

    .text5 {

        font-size: min(1rem, 2vw);
        width: 85%;

    }

    .text6 {

        font-size: min(1rem, 2vw);
        width: 85%;

    }

}

@media (max-width: 720px) {

    .con5 {

        column-gap: 2rem;

    }

    .text3 {

        font-size: min(1rem, 2vw);
        width: 95%;

    }

   .text4 {

        font-size: min(1rem, 2vw);
        width: 90%;

    }

    .text5 {

        font-size: min(1rem, 2vw);
        width: 95%;

    }

    .text6 {

        font-size: min(1rem, 2vw);
        width: 80%;

    }

    
    .image6 {

        width: 120%;
        margin-left: 0.8em;

    }

}

@media (max-width: 600px) {

    .con5 {
        
        width: 95%;
        height: 150vh;
        column-gap: 1.4rem;
    
    }

    .image6 {

        background-size: contain;

    }

    .text6 {

        width: 85%;
        z-index: 2;

    }

}

@media (max-width: 410px) {

    .text3,.text5 {

        margin-right: 1rem;

    }

    .con5 {

        row-gap: 0.7rem;

    }

}

@media (max-width: 320px) {

    .text3,.text4,.text5,.text6 {

        font-size: 2.8vw;
        padding: 0.5rem;
        line-height: 0.5rem;

    }

    .con5 {

        column-gap: 1rem;

    }

}

@media (min-width: 1500px) {

    .text3,.text4,.text5,.text6 {

        font-size: 1.5vw;
        

    }

}