body {

    background-color: black;

}

.con1 {

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    height: 90vh;
    place-content: center;

}

.image-wrap {
  grid-area: 1 / 1 / 9 / 9;
  position: relative;
  border-radius: 15px;
  z-index: -5;

}

.image-wrap::after, .image-wrap::before {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(#FFD700,#0F52BA, #FF2400, #FFD700,#FFD700,#0F52BA, #FF2400, #FFD700,#FFD700,#0F52BA, #FF2400, #FFD700);
    padding: 4px;
    border-radius: inherit;
    z-index: -4;

    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    animation-delay: 0.5s;

}

@keyframes fadeIn {

  to {

    opacity: 1;

  }

}

.image-wrap::before {

    filter: blur(1.5rem);

}

.image{

    background-image: url(Images/Cars\ 11.png) ;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    position: relative;
    z-index: -3;
    
}


.logo {

    grid-area: 1 / 4 / 3 / 6;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 23, 30);
    border-radius: 20px;
    margin-top: 2rem;
    color: white;
    position: relative;

}

@property --angle {

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

.logo::after, .logo::before {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), #FFD700,#0F52BA, #FF2400, #FFD700);
    padding: 3px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
    z-index: -2;
}

.logo::before {

    filter: blur(1.5rem);

}

@keyframes spin{

    from{
        --angle: 0deg;
    }

    to{
        --angle:360deg;
    }

}

.text1 {

    font-size: clamp(3vw, 3rem, 5vw);
  

}

.text2 {

    color: rgb(233, 30, 30);
    font-size: clamp(2vw, 2rem, 3.5vw);
    margin-left: auto;
    padding-right: clamp(1rem, 3vw, 3rem);

}


@media (max-width: 568px) {

    .image {

        background-image: url(Images/Cars\ 11\ Small.png);
        grid-area: 1 / 1 / 9 / 9;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        background-position: center 70%;

    }

    .logo{

        grid-area: 2 / 3 / 4 / 7;
        justify-content: top;
        margin-top: 0;
        column-gap: 5px;        

    }

    .text1{

        font-size: 10vw;

    }

    .text2{

        font-size: 8.5vw ;
        
    }

}

.language{

    grid-area: 1 / 8 / 9 / 8;
    text-align: end;
    margin-top: 0.7rem;
    margin-right: 2rem;
    font-size: 0.8rem;
    word-spacing: 0.5rem;
    line-height: 1.4rem;

}

.language a:link {

    color: rgb(151, 151, 151);
    text-underline-offset: 2.5px;

}

.language a:visited {

    color: rgb(117, 117, 117);
    text-underline-offset: 2.5px;

}

@media (max-width:450px) {

    .language {

        font-size: 0.7rem;
        margin-right: 1rem;

    }

}

@media (min-width:1500px) {

    .language {

        font-size: 1.5vw;

    }

}