.con6 {

    display: grid;
    margin-top: 40vh;
    margin-left: 4vh;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    height: 30rem;
    width: 100%;

}

.wearewaiting {

    margin-left: 4vh;
    color: white;
    font-size: 3vw;
    grid-area: 1 / 1 / 3 / 7;
    z-index: 2;

}

.arrow {

    background-image: url(Images/Arrow.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    grid-area: 1 / 5 / 7 / 8;
    margin-left: 1vw;
    margin-bottom: 8vh;
    z-index: -1;

    transform: rotate(30deg);    

}

.logocard {

    background-image: url(Images/Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    grid-area: 6 / 6 / 9 / 9;
    margin-right: 3vw;
    display: flex;

}


@property --angle {

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

.logocard::after, .logocard::before {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 60%, rgb(16, 198, 204));
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.logocard::before {

    filter: blur(1.5rem);

}

@keyframes spin{

    from{
        --angle: 0deg;
    }

    to{
        --angle:360deg;
    }

}

.reviews {

    grid-area: 4 / 2 / 6 / 4;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out 0s;

}

.reviews:hover {

    opacity: 0.9;
    cursor: pointer;
    transform: translateY(-5px);

}

.loading {

    grid-area: 1 / 7 / 2 / 8;
    height: 20px;
    width: 20px;
    border: 2px solid cyan;
    border-radius: 3px;
    box-shadow: 0 0 8px cyan, 0 0 8px cyan inset;
    margin-top: 2vh;
    margin-left: 1vw;

    animation: loading 2.5s ease-in infinite;   

}

.loading:hover {

    animation: loading 1s ease-in infinite;
    box-shadow: 0 0 8px cyan, 0 0 8px cyan inset;
    border: 2px solid rgba(196, 45, 45, 0.5);

}

@keyframes loading {

    0% {

       transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        
    }

    33% {

       transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
        
    }

    67% {

       transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
        
    }

    100% {

        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg)

    }

}

.tellusyouropinion {

    color: white;
    grid-area: 6 / 2 / 6 / 4;
    justify-self: start;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 0.7rem;
    z-index: 2;
    width: 100%;
    margin-left: 0.7vw;

}

@media (max-width: 1070px) {

    .arrow {

        grid-area: 1 / 4 / 7 / 8;
        margin-left: 8vw;

    }

    .loading {

        margin-left: 2rem;

    }

}

@media (max-width: 958px) {

    .arrow {

        grid-area: 1 / 3 / 7 / 8;
        margin-left: 12vw;

    }

    .logocard {

        grid-area: 6 / 5 / 9 / 9;

    }

    .loading {

        margin-left: 2rem;

    }

}

@media (max-width:780px) {

    .con6 {

        margin-left: 0;

    }

    .wearewaiting {

        margin-left: 0;

    }

    .arrow {

        grid-area: 1 / 3 / 6 / 8;
        margin-top: 2vh;

    }

    .logocard {

        grid-area: 5 / 4 / 9 / 9;

    }

    .reviews {

        grid-area: 3 / 1 / 5 / 4;
        margin-right: -2rem;

    }

    .tellusyouropinion {

        grid-area: 5 / 1 / 6 / 4;
        margin-right: -1.5rem;

    }

}

@media (max-width: 602px) {

    .wearewaiting {

        font-size: 1.1rem;

    }

    .arrow {

        grid-area: 1 / 3 / 6 / 9;
        margin-top: -0.5rem;
        margin-left: -1rem;
        transform: rotate(35deg);


    }

}

@media (max-width:550px) {

    .wearewaiting {

        grid-area: 1 / 1 / 3 / 8;

    }

    .arrow {
        
        background-size: contain;
    
    }

    .logocard {

        grid-area: 5 / 1 / 9 / 9;

    }

    .reviews img {

        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: -1rem;

    }

    .tellusyouropinion {

        grid-area: 1 / 1 / 1 / 1;
        font-size: 0.1rem;
        display: none;
    }

    .loading {

        margin: 0;
        grid-area: 1 / 8 / 1 / 9;
        margin-left: 1rem;

    }

}

@media (max-width:400px) {

    .arrow {
        
        transform: rotate(45deg);
    
    }

}

@media (max-width:310px) {

    .wearewaiting {

        font-size: 0.9rem;

    }

    .logocard::after, .logocard::before {

        display: none;

    }

    .logocard {

        background-size: contain;
        border: 1px solid white;
        border-radius: 2px;
        box-shadow: 0 0 25px white, 0 0 20px white inset;    


    }

}

@media (min-width:1500px) {

    .con6 {

        height: 50rem;

    }

    .tellusyouropinion {

        grid-area: 5 / 2 / 5 / 4;
        font-size: 0.9rem;
        margin-left: -0.5rem;
        margin-top: 1rem;

    }

}